body{
    background-color: lightblue;
}
.upper-panel{
}
#dimensions-input-text{
    float: left;
}
#dimensions-input{
    margin-top: 1%;
    margin-left: 5%;
    clear: both;
}
#OK-button{
    margin-left: 10%;

}
